@import "colors";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

%align-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%primary-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}

%secondary-text {
  color: $secondary-text;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
}

%title-text {
  color: $primary-text;
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  position: relative;
}

.button-demo-cta {
  padding: 20px 85px;
  gap: 10px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  flex: none;
  order: 0;
  flex-grow: 0;

  font-size: 20px;
  text-align: center;

  color: $secondary-text;
  @extend %primary-text;
  @extend %align-justify-center;
}

.button-getForms-cta {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 58px;
  gap: 10px;
  height: 64px;
  background: #e27730;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  flex: none;
  order: 1;
  flex-grow: 0;
  font-size: 20px;

  text-align: center;

  color: #ffffff;

  @extend %primary-text;
}

%container {
  width: 70%;
  margin: auto;

  @include small-down {
    width: 90%;
  }

  @include medium-only {
    width: 80%;
  }
}

.hero {
  background-color: $app-bg-dark;
  padding-top: 50px;
  position: relative;

  &__wrapper {
    @extend %container;
    height: 660px;
  }

  &__title {
    @extend %title-text;
    margin-bottom: 40px;

    &__badge {
      position: absolute;
      top: -10%;

      background: #bbbbbb;
      border-radius: 11px;

      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;

      color: #ffffff;
      padding: 5px 10px;
    }
  }

  &__description {
    font-size: 20px;
    text-align: center;
    color: #777777;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    @extend %secondary-text;
    margin: auto;

    margin-bottom: 40px;

    width: 60%;
    @include medium-only {
      width: 60%;
    }

    @include small-only {
      width: 80%;
    }

    @include extra-small {
      width: 100%;
    }

    @include large {
      width: 50%;
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @extend %container;
    gap: 50px;
    margin-bottom: 50px;
    @include medium-only {
      width: 60%;
      gap: 10px;
      flex-direction: column;
    }

    @include small-only {
      width: 80%;
      gap: 20px;
      flex-direction: column;
    }

    @include extra-small {
      width: 100%;
      gap: 10px;
      flex-direction: column;
    }

    @include large {
      gap: 40px;
    }
  }
}

.content {
  position: relative;
  margin-top: -250px;
}

.banner {
  //   height: 540px;
  background: $card-bg;
  padding: 30px 0px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
  @extend %container;
  @extend %align-justify-center;
  z-index: 2;

  &__wrapper {
    position: relative;
    text-align: center;
  }

  &__title {
    @extend %title-text;
    margin-bottom: 20px;
  }

  &__forms-image {
    margin-bottom: 40px;
    @include extra-small {
      height: 180px;
      width: 180px;
    }

    @include medium-only {
      //   height: 300px;
      //   width: 300px;
    }

    @include smallest {
      height: 140px;
      width: 140px;
    }
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    cursor: pointer;
    height: 160px;
    width: 160px;

    @include medium-only {
      height: 150px;
      width: 150px;
      top: 45%;
      left: 50%;
    }

    @include extra-small {
      height: 100px;
      width: 100px;
      top: 35%;
      left: 50%;
    }

    @include small-only {
      top: 45%;
      left: 50%;
      height: 140px;
      width: 140px;
    }

    @include smallest {
      top: 25%;
    }
  }

  &__description {
    color: $secondary-text;
    opacity: 0.75;
    font-size: 28px;
    @extend %container;
  }

  @include small-only {
    font-size: 24px;
  }
}

.features {
  position: relative;
  background-color: $app-bg-light;
  margin-top: 100px;
  @extend %container;
  margin-bottom: 100px;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &__center__wrapper {
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
    }

    &--first-row {
      border-bottom: 1px solid #dddddd;
    }

    &--second-row {
      padding-top: 50px;
    }

    &--left {
      width: 80%;
      margin-right: auto;
      text-align: center;
    }

    &--center {
      width: 80%;
      margin: 0px auto;
      height: 100%;
      text-align: center;
    }

    &--right {
      width: 80%;
      margin-left: auto;
      text-align: center;
    }
  }

  &__icons {
    width: 48px;
    height: 48px;
    margin-bottom: 30px;
  }

  &__title {
    @extend %primary-text;
    margin: auto;
    margin-bottom: 20px;
    width: 250px;
    color: $primary-text;
    font-size: 24px;
    line-height: 30px;
  }

  &__description {
    @extend %secondary-text;
    font-size: 16px;
    color: $secondary-text;
    margin-bottom: 50px;
  }
}

.reviews {
  background-image: linear-gradient(180deg, #f8f8f8, #ffffff);
  &__wrapper {
    @extend %container;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
  }

  &__card {
    box-sizing: border-box;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 6px;
    width: 33%;

    &__description {
      @extend %secondary-text;
      font-size: 16px;
      color: $secondary-text;
      margin-bottom: 15px;
    }

    &__user-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__user-name {
        @extend %secondary-text;
        font-size: 14px;
        color: #aaaaaa;
      }

      &__user-ratings {
        @extend %secondary-text;
        font-size: 14px;
        height: 14px;
        width: 14px;
        margin: 0;
      }

      /*       &__user-review {

      } */
    }
  }
}

.display {
  background: $app-bg-dark;
  padding: 100px 0px;
  //   @extend %container;

  &__wrapper {
    @extend %container;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
  }

  &__title {
    @extend %primary-text;
    font-size: 32px;
    // line-height: 38px;
    color: $primary-text;
    margin-bottom: 20px;
  }

  &__description {
    @extend %secondary-text;
    font-size: 18px;
    line-height: 28px;
    color: $secondary-text;
    // width: 60%;
    // @extend %container;
    // margin-left: 0;
  }
}

.final {
  background: $app-bg-light;
  padding: 100px 0px;

  &__wrapper {
    @extend %container;
  }

  &__screenshot-wrappers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
  }

  &__title {
    @extend %primary-text;
    color: $primary-text;
    font-size: 24px;
    text-align: center;
    margin-bottom: 100px;
    // line-height: 38px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &__center__wrapper {
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
    }

    &--first-row {
      border-bottom: 1px solid #dddddd;
    }

    &__icons {
      width: 48px;
      height: 48px;
      margin-bottom: 30px;
    }

    &__title {
      @extend %primary-text;
      margin: auto;
      margin-bottom: 20px;
      width: 250px;
      color: $primary-text;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
    }

    &__description {
      @extend %secondary-text;
      font-size: 16px;
      color: $secondary-text;
      //   margin-bottom: 50px;
      line-height: 24px;
      @extend %container;
    }

    &--left {
      width: 80%;
      margin-right: auto;
      text-align: center;
    }

    &--center {
      width: 80%;
      margin: 0px auto;
      height: 100%;
      text-align: center;
    }

    &--right {
      width: 80%;
      margin-left: auto;
      text-align: center;
    }
  }
}

.footer {
  &__wrapper {
    @extend %container;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
  }

  &__title {
    @extend %primary-text;
    margin: auto;
    margin-bottom: 20px;
    color: $primary-text;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  &__description {
    @extend %secondary-text;
    font-size: 18px;
    color: $secondary-text;
    margin-bottom: 50px;
    text-align: center;
  }

  &__link {
    color: #036aab;
  }
}
